<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/static/stomp.min.js"></script>
    <script type="text/javascript" src="/static/sockjs.min.js"></script>
</head>
<body>
<script>
    function sendMessage() {
        var url = "http://" + window.location.host + "/marco";
        var sock = new SockJS(url);
        var stomp = Stomp.over(sock);
        var msg = JSON.stringify({'message': '你好/app/macro'});
        stomp.connect('guest', 'guest', function () {
            stomp.send('/app/macro', {}, msg)
        })
    }

</script>
<button onclick="sendMessage()">发送</button>
</body>
</html>