<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    function sendMessage() {
        var url = "ws://" + window.location.host + '/macro';
        var socket = new WebSocket(url);
        socket.onopen = function () {
            console.log("Opening");
            sayMarco();
        };
        socket.onmessage = function (ev) {
            console.log("Received message:", ev.data);
            setTimeout(function () {
                sayMarco()
            }, 2000)
        };
        socket.onclose = function () {
            console.log("Closing");
        };

        function sayMarco() {
            console.log("Sending Macro");
            socket.send("Macro!")
        }
    }

</script>
<button onclick="sendMessage()">发送</button>
</body>
</html>